.slider img,
.card-image {
  height: 450px;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.carousel-image-background-0 {
  background: linear-gradient(
    90deg,
    rgba(3, 0, 59, 1) 0%,
    rgba(17, 42, 190, 1) 35%,
    rgba(0, 246, 255, 1) 100%
  );
}

.carousel-image-background-1 {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.carousel-image-background-2 {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}
